.card{
    width: 550px;
    height: 850px;
    border: 1px solid gray;
    margin: 20px auto;
}
.card-1{
    width: 100%;
    height: 50%;
    background-color: lightgray;
    background-image: url(../rasmlar/gg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}
.card-2{
    width: 100%;
    height: 50%;
    background-color: white;
}
.card-1{
    position: relative;
}
.text{
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 50%;
    background-color: orangered;
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    box-sizing: border-box;
    position: absolute;
    top: 20px;
    right: 0px;
}
.card-2{
    position: relative;
}
.planshet{
    font-size: 30px;
    position: absolute;
    top: 60px;
    left: 10px;
}
.yangi{
    font-size: 30px;
    position: absolute;
    top: 60px;
    left: 180px;
    border: 1px solid green;
    background-color: green;
    color: white;
    border-radius: 5px;
}
.smartfon{
    position: absolute;
    font-size: 33px;
    top: 90px;
    left: 10px;
}
.gb{
    position: absolute;
    font-size: 33px;
    top: 130px;
    left: 10px;
}
.img{
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 60px;
    left: 10px;
}
.prot{
    position: absolute;
    font-size: 40px;
    left: 30px;
    bottom: 40px;
    border: 1px solid red;
    background-color: red;
    color: white;
    border-radius: 20px;
    width: 150px;
    height: 60px;
    text-align: center;
    line-height: 60px;
}
.fff{
    text-decoration: line-through;
    position: absolute;
    font-size: 35px;
    bottom: 180px;
    right:  100px;
}
.ggg{
    position: absolute;
    font-size: 40px;
    bottom: 120px;
    right:  75px;
}
.sss{
    position: absolute;
    font-size: 30px;
    bottom: 70px;
    right:  215px;
    border-color: yellow;
    border: 1px solid yellow;
    background-color: yellow;
    border-radius: 5px;
}
.ekonom{
    position: absolute;
    font-size: 30px;
    bottom: 70px;
    right:  70px;
}