.box{
    width: 600px;
    margin-left: 100px;
    margin-bottom: 30px;
    float: left;
    
}
.box-item{
    border: 2px solid grey;
    width: 600px;
    height: 400px;
    position: relative;
    margin-bottom: 30px;
    margin-left: 100px;
}
.a{
    position: absolute;
    top: 20px;
    left: 20px;
}
h3{
    position: absolute;
    top: 40px;
    right: 5px;
    font-size: 23px;
}
.p{
    position: absolute;
    top: 130px;
    right: 90px;
    font-size: 20px;
}
.b{
    position: absolute;
    top: 180px;
    right: 270px;
}
.b{
    position: absolute;
    top: 180px;
    right: 270px;
}
.dva{
    position: absolute;
    top: 160px;
    right: 230px; 
    font-size: 25px;
}
.c{
    position: absolute;
    top: 175px;
    right: 150px; 
}
.odin{
    position: absolute;
    top: 160px;
    right: 120px; 
    font-size: 25px;
}
.g{
    position: absolute;
    bottom: 85px;
    left: 10px;
    z-index: -1;
}
.dev{
    position: absolute;
    bottom: 75px;
    left: 70px;
    font-size: 25px;
}
.f{
    position: absolute;
    bottom: 70px;
    left: 120px;
    z-index: -1;
}
.sss{
    position: absolute;
    bottom: 75px;
    left: 190px;
    font-size: 25px;
}
.i{
    position: absolute;
    bottom: 5px;
    left: 20px;
    z-index: -2;
}
.d{
    position: absolute;
    bottom: -22px;
    right: 20px;
    z-index: -2;
}
